* {
    font-family: 'Bebas Neue', sans-serif;
    background-color: black;
}

.firstHeader {
    color: white;
    text-align: center;
    font-size: 30px;
}

#freesoul {
    padding: 0px;
    margin: 5px;
}


#forgiving {
    color: white;
    text-align: center;
}

.artWork {
    display: inline-block;
    
    padding:50px;
    margin: 20px 150px 20px 150px;
}
